name: 03 - workflow-runners
on: workflow_dispatch
jobs: 
  echo-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - name: echo OS info
        run: |
          echo "Current Runner OS: $RUNNER_OS"
  
  echo-windows:
    runs-on: windows-latest
    steps:
      - name: echo OS info by powershell
        run: |
          echo "Current Runner OS: $env:RUNNER_OS"
      - name: echo OS info by bash
        shell: bash
        run: |
          echo "Current Runner OS: $RUNNER_OS"
  echo-mac:
    runs-on: macos-latest
    steps:
      - name: echo OS info
        run: |
          echo "Current Runner OS: $RUNNER_OS"
  