name: 04 - using actions
on: push
jobs: 
  install-node:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        name: Checkout
      - name: Setup Node
        uses: actions/setup-node@v4
        with: 
          node-version: 20
      - name: Install Dependency
        run: npm ci
        working-directory: 04-using-actions